npm init
npm install express
npm install --save-dev nodemon
npm install consign
npm install body-parser
npm install mysql
npm install cors
npm install --save-dev typescript 
npm install @types/node --save-dev
npm install --save-dev concurrently